<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rizqisatria.go_travel">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GOTravel_Activity" />
        <activity android:name=".Daftar_Activity" />
        <activity android:name=".Fitur_Activity" />
        <activity android:name=".Driver_Activity" />
        <activity android:name=".Indo_Activity" />
        <activity android:name=".Profil_Activity" />
        <activity android:name=".Saldo_Activity" />
        <activity android:name=".Shuttle_Activity" />
        <activity android:name=".Drop_Activity" />
        <activity android:name=".Carter_Activity" />
        <activity android:name=".TampilDrop_Activity" />
        <activity android:name=".EditProfil_Activity" />
        <activity android:name=".TampilShuttle_Activity"></activity>
    </application>

</manifest>